.tasks-box {
  margin-left: 30%;
  margin-top: 10vh;
}

.search-input-box {
  padding: 20px;
  border: none;
  border-radius: 10px;
  width: 42vw;
  background: rgba(0, 0, 0, 0.1);
  align-items: center;
}

.search-input {
  background-color: transparent;
  margin-left: 0.5vw;
  border: none;
  top: 2vh;
  width: 40vw;
  outline: none;
  font-size: 20px;
}

.task-card-box {
  width: auto;
  height: auto;
  max-width: 65%;
  max-height: 430px;
  overflow: hidden;
  overflow-y: scroll;
}

.task-title-box {
  margin-top: 5vh;
}

.task-title {
  font-style: normal;
  font-weight: 600;
  font-size: 30px;
  line-height: 37px;
}

.btn-new-task-box {
  /* margin-left: 34.2vw; */
  margin-left: 49%;
  margin-top: 4vh;
  margin-bottom: 20px;
}

.btn-new-task {
  padding: 20px;
  font-size: 20px;
}

.btn-new-task:hover {
  cursor: pointer;
}

.btn-new-task-text {
  margin-left: 20px;
  font-size: 20px;
}

@media (max-width: 960px) {
  .tasks-box {
    margin-left: 5%;
    margin-top: 5%;
  }
  .search-input-box {
    width: 85%;
  }

  .task-card-box {
    max-width: 100%;
    max-height: 365px;
  }

  .btn-new-task-box {
    margin-left: 40%;
    margin-top: 20%;
  }
} ;
