.dialog-box {
  font-weight: bold !important;
  border-radius: 10px !important;
}

.dialog-title {
  font-weight: bold !important;
  font-size: 50px !important;
}

.task-title-input {
  width: 15vw;
  border-radius: 10px !important;
}

.task-desc-input {
  width: 15vw;
  border-radius: 10px !important;
}

.btns-container {
  margin-left: 40%;
}

.btn-cancel,
.btn-save {
  background-color: transparent !important;
  color: #0047ff !important;
}
