.App {
  text-align: center;
}

.box {
  height: 100%;
  width: 100%;
}

@media (max-width: 960px) {
  .hover-box {
    position: absolute;
    width: 10%;
    height: 100vh;
    left: 0px;
    top: 0px;
  }

  .btn-box {
    padding: 30px 20px;
  }
}
