.hover-box {
  /* azul */
  position: absolute;
  width: 50%;
  height: 100%;
  background: #0047ff;
}

.user-grid {
  display: grid;
  grid-template-columns: 0.1fr 1fr;
  column-gap: 10px;
  margin-left: 15%;
  margin-right: 15%;
  margin-top: 20%;
  border-bottom: 1px solid #ffffff;
  align-items: center;
  justify-items: center;
}

.user-image-box {
  grid-row: 1/2;
  margin-bottom: 20px;
}

.user-info-box {
  margin-bottom: 20px;
  justify-self: flex-start;
}

.user-name,
.user-function {
  color: #ffffff;
  font-size: 14px;
}

.user-name {
  font-weight: 500;
}

.btns-box {
  justify-content: center;
  padding: 30px;
}

.btn-task-box {
  display: flex;
  justify-content: center;
}

.btn-info-box {
  display: flex;
  justify-content: center;
  margin-top: 2vh;
}

.btn-task,
.btn-info {
  border: none !important;
  color: white !important;
  width: 132px;
  height: 40px;
  text-transform: none !important;

  background: #0047ff;
  background-size: cover !important;
  border-radius: 10px !important;
}

.btn-task {
}

.btn-info:hover,
.btn-task:hover {
  background-color: #0039cc !important;
  cursor: pointer;
}

.btn-task:focus,
.btn-info:focus {
  background-color: #0039cc;
}

.btn-text {
  margin-left: 20px;
}

@media (min-width: 960px) {
  .hover-box {
    position: absolute;
    width: 10vw;
    height: 100vh;
    left: 0px;
    top: 0px;
  }
}
